In [1]:
import pandas as pd

In [3]:
df= pd.read_csv("E:\\titanic.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
df= df[['Survived', 'Pclass','Sex', 'Age','Fare']]

In [8]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [9]:
X= df[['Pclass','Sex', 'Age','Fare']]

In [10]:
y=df["Survived"]

In [11]:
X.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [14]:
X.isnull().sum() # we are cheking, weather we have missing value or not, looking like we have null values in age column

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [15]:
X.Age= X.Age.fillna(X.Age.mean()) # we are filling null values using avg method

C:\Users\asadkhan\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [16]:
X.Sex= X.Sex.map({"male":1,"female":2})

In [17]:
X.head() # Now the data is ready.

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [18]:
# importing train_test_split for splitting the data 
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2) #

In [21]:
from sklearn import tree # importing DecisionTree module

In [22]:
model= tree.DecisionTreeClassifier()

In [23]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [24]:
model.score(X_train,y_train)

0.976123595505618

In [25]:
model.score(X_test,y_test)

0.7988826815642458

In [ ]:
# accuracy is preeti good but still we can standerdise the data and see the accuracy, Bcz we havn't done scalling on above data

In [ ]:
# Then we will fix scaling problem using MinMaxScaler

In [26]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
X = minmax.fit_transform(X)

C:\Users\asadkhan\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [29]:
X[0] # look like all data points are scalled..

array([1.        , 0.        , 0.27117366, 0.01415106])

In [31]:
X_train,X_test,y_train, y_test = train_test_split(X,y,random_state=10,test_size=0.20)

In [33]:
model_scal= tree.DecisionTreeClassifier()

In [34]:
model_scal= model_scal.fit(X_train,y_train)

In [35]:
model_scal.score(X_train,y_train)

0.9845505617977528

In [36]:
model_scal.score(X_test,y_test)

0.7988826815642458

In [ ]:
# Look like